{% extends "base.html" %}

{% block left %}
<div class = "parent-container">
    <div class = "flex-container1">
        <div>
            <h2>Courses</h2>
            <div style="text-align: center;">
              <input type="text" name="text" id="txt" required>
              <button type="submit" id="btn-list" onclick="add()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <div class="flex-inner1">
              <ul id="inputs">
              </ul>
            </div>

            <script>
              function add() {
                let userInput = document.getElementById('txt').value;
                document.getElementById('inputs').innerHTML += `<li>${userInput}<span onclick="rem(this)">X</span></li>`;
                document.getElementById('txt').value = "";
              }

              function rem(element) {
                element.parentElement.remove();
              }
            </script>

            <div>
                <form>
                    <input type="text" name="data" placeholder="Enter data">
                    <input type="submit" value="Submit">
                    <div id="result"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    <div class = "flex-container2">
        <div class = "flex-inner2">
            <p>test</p>
        </div>
    </div>
</div>
{% endblock %}