@font-face {
    font-family: semibold;
    src: url(images/Surt-Extended-Semibold-TRIAL.otf);
}

@font-face {
    font-family: Vogue;
    src: url(images/Vogue.ttf);
}

@keyframes introTransition {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {

    background-image: url("images/backgrounddd.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    zoom: 0.85;
    padding-top: 50px;
    /* padding-bottom: 200px; */
    background-color: rgb(224, 216, 206);
  }

  h1 {
    font-family: "Vogue";
    text-align: center;
    color: 	#493a2b;
    margin-left: 20px;
  }

  h2 {
    font-family: "semibold";
    text-align: center;
    color: 	#000000;
    margin-left: 14px;
  }

  p {
    font-family: "semibold";
    font-size: 20px;
  }

  a {
    font-family: "Vogue";
    font-size: 28px;
    color: #493a2b;
    text-decoration: none;
    transition: font-size 1s ease;
  }

  a:hover {
    color: #b98148;
    font-size: 32px;
    transition: font-size 0.6s ease;
  }

  .image-container {
    width: 380px;
    height: 380px;
    overflow: hidden;
  }

  .image {
    transition: transform 0.3s ease;
  }

  .image:hover {
    transform: scale(1.2);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.menu {
    animation: introTransition 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left {
    margin-right: 380px;
  }

.right {
    margin-left: 380px;
  }

.parent-container {
    animation: introTransition 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    /* transition: transform 0.4s ease; */
}


.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 1000px;
    background-color: rgb(216, 206, 194);
    outline: 2px solid rgba(0, 0, 0, 0.5);
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 1000px;
    background-color: rgb(212, 178, 167);
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

.flex-inner1 {
    display: flex;
    width: 450px;
    height: 550px;
    font-size: 24px;
    background-color: rgb(190, 183, 168);
    justify-content: left;
    align-items: left;
    outline: 2px solid rgba(0, 0, 0, 0.25);
}

.flex-inner2 {
    display: flex;
    width: 850px;
    height: 850px;
    background-color: rgb(205, 197, 179);
    justify-content: center;
    align-items: center;
    outline: 2px solid rgba(0, 0, 0, 0.25);
}

ul{
  list-style: none;
  width: 500px
}

ul li{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  display:block;
  margin: 5px 0;
}

ul li span{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
}

/* form.searchbox input[type=text] {
    align-items: center;
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    float: left;
    width: 80%;
    background: #ece9e9;
    margin-bottom: 250px;
  }

form.searchbox button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

form.searchbox button:hover {
    background-color: #6d6966;
    transform: scale(1.2);
  }

  .plus-button img {
    text-align: center;
  } */

  .dog-container {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .dog-container img {
    position: absolute;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
  }

  .dog-container img:hover {
    transform: scale(1.1);
  }

  #sidebar {
    position: absolute;
    width: 300px;
    height: 150%;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    background: rgb(233, 168, 168, 0.5);
    right: -300px;
    transition: .4s;
  }

  #sidebar ul li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 26px 24px;
  }

  #sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    right: 330px;
  }

  .toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
  }

  #sidebar.active {
    right: 0;
  }